* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #548687;
}

.drum-pads {
  width: 320px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  margin: 20px auto;
  grid-column: 2/3;
  grid-row: 2/3;
}

.kit-selectors {
  grid-column: 3/4;
  grid-row: 2/3;
}