* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #548687;
}

.drum-pads {
  width: 320px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  margin: 20px auto;
  grid-column: 2/3;
  grid-row: 2/4;
}

.kit-selectors {
  height: 150px;
  grid-column: 3/4;
  grid-row: 3/4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 20px 10px 20px;
  border: 2px solid #454a48;
  border-radius: 10px;
  color: #454a48;

}

input {
  outline: none;
}